In [1]:
import pandas as pd
df = pd.read_csv(r"E:\Marketing Assignment\People Survey\responses.csv")
df.head(10)

,Music,Slow songs or fast songs,Dance,Folk,Country,Classical music,Musical,Pop,Rock,Metal or Hardrock,...,Age,Height,Weight,Number of siblings,Gender,Left - right handed,Education,Only child,Village - town,House - block of flats
0,5.0,3.0,2.0,1.0,2.0,2.0,1.0,5.0,5.0,1.0,...,20.0,163.0,48.0,1.0,female,right handed,college/bachelor degree,no,village,block of flats
1,4.0,4.0,2.0,1.0,1.0,1.0,2.0,3.0,5.0,4.0,...,19.0,163.0,58.0,2.0,female,right handed,college/bachelor degree,no,city,block of flats
2,5.0,5.0,2.0,2.0,3.0,4.0,5.0,3.0,5.0,3.0,...,20.0,176.0,67.0,2.0,female,right handed,secondary school,no,city,block of flats
3,5.0,3.0,2.0,1.0,1.0,1.0,1.0,2.0,2.0,1.0,...,22.0,172.0,59.0,1.0,female,right handed,college/bachelor degree,yes,city,house/bungalow
4,5.0,3.0,4.0,3.0,2.0,4.0,3.0,5.0,3.0,1.0,...,20.0,170.0,59.0,1.0,female,right handed,secondary school,no,village,house/bungalow
5,5.0,3.0,2.0,3.0,2.0,3.0,3.0,2.0,5.0,5.0,...,20.0,186.0,77.0,1.0,male,right handed,secondary school,no,city,block of flats
6,5.0,5.0,5.0,3.0,1.0,2.0,2.0,5.0,3.0,1.0,...,20.0,177.0,50.0,1.0,female,right handed,secondary school,no,village,house/bungalow
7,5.0,3.0,3.0,2.0,1.0,2.0,2.0,4.0,5.0,1.0,...,19.0,184.0,90.0,1.0,male,right handed,college/bachelor degree,no,city,house/bungalow
8,5.0,3.0,3.0,1.0,1.0,2.0,4.0,3.0,5.0,5.0,...,18.0,166.0,55.0,1.0,female,right handed,secondary school,no,city,house/bungalow
9,5.0,3.0,2.0,5.0,2.0,2.0,5.0,3.0,5.0,2.0,...,19.0,174.0,60.0,3.0,female,right handed,secondary school,no,city,block of flats

In [2]:
df.columns

Index(['Music', 'Slow songs or fast songs', 'Dance', 'Folk', 'Country',
       'Classical music', 'Musical', 'Pop', 'Rock', 'Metal or Hardrock',
       ...
       'Age', 'Height', 'Weight', 'Number of siblings', 'Gender',
       'Left - right handed', 'Education', 'Only child', 'Village - town',
       'House - block of flats'],
      dtype='object', length=150)

In [3]:
#Extracting only necessary columns
new_order = ['Age', 'Education', 'Gender', 'Smoking', 'Alcohol','Energy levels', 'Life struggles', 
             'Number of friends', 'Happiness in life']

new_df = df[new_order].head(250)
new_df.columns

Index(['Age', 'Education', 'Gender', 'Smoking', 'Alcohol', 'Energy levels',
       'Life struggles', 'Number of friends', 'Happiness in life'],
      dtype='object')

In [4]:
new_df.head(250)

,Age,Education,Gender,Smoking,Alcohol,Energy levels,Life struggles,Number of friends,Happiness in life
0,20.0,college/bachelor degree,female,never smoked,drink a lot,5.0,1.0,3,4.0
1,19.0,college/bachelor degree,female,never smoked,drink a lot,3.0,1.0,3,4.0
2,20.0,secondary school,female,tried smoking,drink a lot,4.0,4.0,3,4.0
3,22.0,college/bachelor degree,female,former smoker,drink a lot,2.0,3.0,1,2.0
4,20.0,secondary school,female,tried smoking,social drinker,5.0,2.0,3,3.0
...,...,...,...,...,...,...,...,...,...
245,19.0,primary school,female,tried smoking,social drinker,5.0,2.0,5,3.0
246,27.0,masters degree,male,tried smoking,never,3.0,1.0,4,4.0
247,22.0,college/bachelor degree,female,former smoker,drink a lot,3.0,3.0,2,3.0
248,19.0,secondary school,female,tried smoking,social drinker,3.0,3.0,3,4.0
249,19.0,secondary school,female,never smoked,social drinker,5.0,4.0,3,4.0

In [5]:
specific_columns = ['Age', 'Education', 'Gender', 'Smoking', 'Alcohol','Energy levels', 'Life struggles', 
                    'Number of friends', 'Happiness in life']

# Loop through each specified column and print unique values and their counts
for column in specific_columns:
    if column in df.columns:
        unique_values = df[column].unique()
        value_counts = df[column].value_counts()
        print(f"\nColumn: {column}")
        print(f"Unique values: {unique_values}")
        print(f"Frequency of unique values:\n{value_counts}")
    else:
        print(f"\nColumn: {column} is not present in the DataFrame")

Column: Age
Unique values: [20. 19. 22. 18. 17. 24. 25. 27. 21. 23. 26. 28. 16. 15. nan 29. 30.]
Frequency of unique values:
19.0    210
20.0    194
21.0    127
18.0    123
22.0     84
17.0     53
23.0     47
25.0     30
16.0     29
24.0     28
28.0     17
26.0     15
27.0     14
15.0     11
29.0     11
30.0     10
Name: Age, dtype: int64

Column: Education
Unique values: ['college/bachelor degree' 'secondary school' 'primary school'
 'masters degree' 'doctorate degree' 'currently a primary school pupil'
 nan]
Frequency of unique values:
secondary school                    621
college/bachelor degree             212
masters degree                       81
primary school                       80
currently a primary school pupil     10
doctorate degree                      5
Name: Education, dtype: int64

Column: Gender
Unique values: ['female' 'male' nan]
Frequency of unique values:
female    593
male      411
Name: Gender, dtype: int64

Column: Smoking
Unique values: ['never smoked' 'tried smoking' 'former smoker' 'current smoker' nan]
Frequency of unique values:
tried smoking     430
never smoked      208
current smoker    189
former smoker     175
Name: Smoking, dtype: int64

Column: Alcohol
Unique values: ['drink a lot' 'social drinker' 'never' nan]
Frequency of unique values:
social drinker    659
drink a lot       222
never             124
Name: Alcohol, dtype: int64

Column: Energy levels
Unique values: [ 5.  3.  4.  2.  1. nan]
Frequency of unique values:
4.0    372
3.0    308
5.0    207
2.0     87
1.0     31
Name: Energy levels, dtype: int64

Column: Life struggles
Unique values: [ 1.  4.  3.  2.  5. nan]
Frequency of unique values:
3.0    221
4.0    215
2.0    199
5.0    190
1.0    182
Name: Life struggles, dtype: int64

Column: Number of friends
Unique values: [3 1 4 2 5]
Frequency of unique values:
3    427
4    237
5    169
2    126
1     51
Name: Number of friends, dtype: int64

Column: Happiness in life
Unique values: [ 4.  2.  3.  5.  1. nan]
Frequency of unique values:
4.0    509
3.0    284
5.0    142
2.0     59
1.0     12
Name: Happiness in life, dtype: int64

In [7]:
new_df.dtypes

Age                  float64
Education             object
Gender                object
Smoking               object
Alcohol               object
Energy levels        float64
Life struggles       float64
Number of friends      int64
Happiness in life    float64
dtype: object

In [9]:
#Dropping all missing values and cleaning data
new_df = new_df.dropna()

In [11]:
new_df.to_csv(r"E:\Marketing Assignment\People Survey\Preprocessed.xlsx", index=False)